@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: roboto, sans-serif;
}

@font-face{
    font-family:'barbarian';
    src: url('_fonts/Barbarian.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'cardinal';
    src: url('_fonts/Cardinal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
}

a:hover{
    box-shadow: rgb(255, 255, 255) 0px 7px;
}

a:active{
    background-color: white;
    color: #2d397e;
}

h2{
    font-family: 'barbarian';
    background-color:#F2581D;
    font-size: 2em;
    color: #31221c;
}

.menu{
    background-image: linear-gradient(to left, #4a76f0 50%,#2d397e 100%);
    background-attachment: fixed;
    background-position: left;
    background-size: 500% 100%;
    animation:menu-degrade ease 10s infinite;
    width: 100vw;
    height: 6vh;
    top: 0;
    position: fixed;
    z-index: 2;
}

@keyframes menu-degrade {
    0% {background-position: 0% 50%;}
    25% {background-position: 50% 100%;}
    50% {background-position: 0% 50%;}
    75% {background-position: 50% 100%;}
    100% {background-position: 0% 50%;}
}

.menu ul{
    display: flex;
    justify-content:space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    display: block;
    padding: 7px;
}

#dado{
    color:whitesmoke;
    animation: dado 1.5s linear 1.5s infinite;
}

@keyframes dado{
    0%{color:#6200ff;}
    100%{color:whitesmoke;}
}


/*Hamburger*/
.burger{
    overflow: hidden;
    padding-bottom: 7px ;
}

.burger #meat{
    text-align: center;
    display: none;
    background-color: #000000a9;
    padding-bottom: 9px;
    padding-top: 7px;
    margin-top: 7px;
}

#meat a:hover{
    box-shadow: none;
    background-color: #ffffff;
    color: black;
}

#meat a:active{
    background-color:#2d397e;
    color: whitesmoke;
}
/*Fim do Hamburger*/


.p1{
    height: 95vh;
    width: 100vw;
        /*fundo*/
        background-image: linear-gradient(to bottom, #800309 33.3%, #BF040D 66.6%, #400104 100%);
        background-attachment: fixed;
        background-position: center;
        /*Amimação-fundo*/
        background-size: 100% 450%;
        animation:bg-degrade ease 10s infinite;
    }

    /*Amimação-fundo*/
    @keyframes bg-degrade {
        0% {background-position: 0% 50%;}
        25% {background-position: 50% 100%;}
        50% {background-position: 0% 50%;}
        75% {background-position: 50% 100%;}
        100% {background-position: 0% 50%;}
    }

.fundo{
    opacity: 10%;
    position: relative;
    height: 95vh;
    width: 100vw;
    object-fit: cover;
    object-position: center; 
    top: 0px;
    left: 0px;
    animation:fundo linear 10s infinite;
}

.logo{
    position: absolute;
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.principal{
    position: absolute;
    font-family: 'cardinal';
    font-size: 5em;
    color: #ffffff;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fundo {
    0% {opacity:10%;}
    25% {opacity:25%;}
    50% {opacity:50%;}
    75% {opacity:25%;}
    100% {opacity:10%;}
}

.vitrine{
    background-image: url(_imagens/vitrine.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100vw;
    height: 70vh;
    
}

.grid{
    display: grid;
    gap: 1em;
    grid-template-columns: 600px 600px;
    background-color: #ffffff4d;
    padding-top: 1em;
    padding-bottom: 3em;
}

.vitrine .txt{
    margin-left: 12em;
    margin-bottom: 10em;
    align-self: center;
    text-align: center;

}

.vitrine h1 {
    background-color: #00000088;
    color: white;
    font-size: 28pt;
}

.vitrine h1:hover{
    background-color: #ff0000;
}

.vitrine h1:active{
    background-color: whitesmoke;
    color:#ff0000;
}

.vitrine p{
    margin-top: 2em;
    background-color: transparent;
    color: black;
    font-size: 14pt;
}

.grid figure{
    text-align: center;
    padding-left:0%;
    margin-left: 10%;
}

.grid img{
    max-height: 400px;
    max-width: 325px;
    width: auto;
    height: auto;
}

.cube{
    text-align: justify;
    align-items: center;
    display: grid;
    margin-top: 1em;
    margin: 1em;
    padding:1em;
    gap: 2em;
    grid: repeat(2, 300px), 100px;
    grid-column-gap: 1px;
}

.cube img{
    width: 600px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 50%;
}

.cube p{
    margin-right: 4em;
}
